<h1 class="page-header">Detalhes da Tarefa: {{ task.title }}</h1>

<form [formGroup]="form" (ngSubmit)="updateTask()">
  <div class="row">
    <!-- taskTitle -->
    <div class="form-group col-md-6 has-feedback" [ngClass]="formUtils.fieldClassForErrorOrSuccess('title')">
      <label for="title" class="control-label">Título</label>
      <input type="text" formControlName="title" id="title" class="form-control">
      <span class="glyphicon form-control-feedback" [ngClass]="formUtils.iconClassForErrorOrSuccess('title')"></span>
            
      <div *ngIf="formUtils.showFieldError('title')" class="text-danger">
        <div *ngIf="form.get('title').errors.required">o título é obrigatório</div>
        <div *ngIf="form.get('title').errors.minlength">o título deve ter no mínimo 2 caracteres</div>
        <div *ngIf="form.get('title').errors.maxlength">o título deve ter no máximo 255 caracteres</div>
      </div>
    </div>
  
    <!-- taskDeadline -->
    <div class="form-group col-md-3 has-feedback" [ngClass]="formUtils.fieldClassForErrorOrSuccess('deadline')">
      <label for="deadline" class="control-label">Prazo de Entrega</label>
      <input type="text" formControlName="deadline" id="deadline" class="form-control">
      <span class="glyphicon form-control-feedback" [ngClass]="formUtils.iconClassForErrorOrSuccess('deadline')"></span>
      <div *ngIf="formUtils.showFieldError('deadline')" class="text-danger">o prazo é obrigatório</div>
    </div>

    <!-- taskDone -->
    <div class="form-group col-md-3 has-feedback" [ngClass]="formUtils.fieldClassForErrorOrSuccess('done')">
      <label for="done" class="control-label">Situação</label>
      <select class="form-control" id="done" formControlName="done">
        <option *ngFor="let option of taskDoneOptions" [value]="option.value">{{ option.text }}</option>
      </select>
      <span class="glyphicon form-control-feedback" [ngClass]="formUtils.iconClassForErrorOrSuccess('done')"></span>
      <div *ngIf="formUtils.showFieldError('done')" class="text-danger">situação obrigatória</div>
    </div>
  </div>

  <div class="row">
    <!-- taskDescription -->
    <div class="form-group col-md-12">
      <label for="description" class="control-label">Descrição</label>
      <textarea formControlName="description" id="description" class="form-control" rows="4"></textarea>
    </div>
  </div>

  <button [disabled]="form.invalid" type="submit" class="btn btn-success">Atualizar</button>
  <button class="btn btn-default" type="button" (click)="goBack()">Voltar</button>

  <pre>{{ form.value | json }}</pre>
</form>