<h3>Estudando Bindings</h3>

<button (click)="onClick()">Evento (click)</button>
<button on-click="onClick()">Evento on-click</button>

<br /><br />

<button (mouseover)="onMouseOver()">Evento (mouseover)</button>
<button on-mouseover="onMouseOver()">Evento on-mouseover</button>

<hr />

<input placeholder="Evento KeyDown" type="text" (keydown)="onKeyDown()">
<input placeholder="Evento KeyDown" type="text" on-keydown="onKeyDown()">

<br /><br />

<input placeholder="Evento KeyUp" type="text" (keyup)="onKeyUp()">
<input placeholder="Evento KeyUp" type="text" on-keyup="onKeyUp()">