<div style="position: relative">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Busca de tarefas">
  </div>

  <div class="list-group" style="position: absolute; width: 100%; left: 0; top: 35px; z-index: 1000">
    <a href="#" class="list-group-item">Tarefa 1</a>
    <a href="#" class="list-group-item">Tarefa 2</a>
    <a href="#" class="list-group-item">Tarefa 3</a>
    <a href="#" class="list-group-item">Tarefa 4</a>
    <a href="#" class="list-group-item">Tarefa 5</a>
  </div>
</div>